@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Alatsi&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  list-style: none;
}
body {
  background: #fafbfc;
  overflow-x: hidden;
}
/* header */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-container {
  width: 1639px;
  height: 958px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.backround {
  width: 100%;
  height: 958px;
}
.nav-container {
  position: absolute;
  top: 0;
  left: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.text {
  color: #000;
  font-family: Agbalumo;
  font-size: 70px;
  font-weight: 400;
}
.select {
  position: absolute;
  top: 202px;
}
.text-select {
  color: #000;
  font-family: Poppins;
  font-size: 64px;
  font-weight: 500;
  letter-spacing: -1.28px;
}
.fram-logo-company {
  gap: 32px;
  position: absolute;
  top: 390px;
}
.container-travel {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 48px 48px 48px 48px;
  border-radius: 12px;
  width: 404px;
  background: #fff;
  box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.25);
}
.rateing {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}
.star {
  display: flex;
  padding: 3px 0px;
  align-items: flex-start;
  gap: 5px;
}
.about-company {
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
}
.about-option {
  color: #454545;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
}
.select-company {
  margin-top: 48px;
  border-radius: 8px;
  background: #000;
  display: flex;
  width: 309px;
  padding: 14px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  border: 1px solid #000;
}
.select-btn {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
}
.select-company.selected {
  background: #007bff;
  color: #fff;
  width: 309px;
  padding: 14px 24px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
}
.select-company:hover {
  background: #fff;
  border: 1px solid #007bff;
  transition: 0.5s ease-in-out;
}
.select-company:hover .select-btn {
  color: #007bff;
}

.select-company.selected:hover {
  background: #007bff;
  border: none;
  transition: none;
  border: 1px solid #007bff;
}
.select-company.selected:hover .select-btn {
  color: #fff;
}
.from-select {
  display: flex;
  width: 1279px;
  height: 600px;
  align-content: flex-start;
  gap: 32px;
}
.selected {
  background-color: blue;
  color: white;
  text-align: center;
  padding: 5px;
  border: 1px solid #007bff;
}
.section {
  margin-top: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.divider {
  display: flex;
  width: 1120px;
  height: 40px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding-top: 40px;
}
.row {
  height: 1px;
  flex: 1 0 0;
  background: #105c8d;
}
.section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fram-container {
  margin-top: 92px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 1120px;
  gap: 80px;
}
.fram-container-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
}
.about-company {
  color: #000;
  font-size: 24px;
  font-weight: 500;
}
.lorem-company {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  width: 670px;
}
.about-view {
  color: #000;
  font-size: 24px;
  font-weight: 500;
}
.map {
  width: 670px;
  height: 240px;
}
.map > iframe {
  width: 100%;
  height: 100%;
  border: 0;
}
.about-hotel {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8px;
}
.photo-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}
.fram-container-right {
  display: flex;
  width: 370px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.fram-set {
  width: 370px;
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
  background: #fff;
  box-shadow: 0px 20px 25px 0px rgba(31, 41, 55, 0.1),
    0px 10px 10px 0px rgba(31, 41, 55, 0.04);
}
.header-set {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.dollar > span {
  color: #000;
  font-size: 20px;
  font-weight: 500;
}
.dollar {
  color: #000;
  font-size: 16px;
  font-weight: 400;
}
.dot {
  padding: 4px 8px 4px 8px;
}
.review {
  display: flex;
  justify-content: center;
  align-items: center;
}
.review > p {
  color: #000;
  font-size: 14px;
  font-weight: 500;
}
.review > span {
  color: #000;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-decoration-line: underline;
}
.start-loca {
  border-radius: 8px 8px 0 0;
  border: 1px solid #d1d5db;
  background: var #fff;
  width: 332px;
}
.fram-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  height: 52px;
  padding: 8px;
}
.fram-start > label {
  width: 258px;
  color: #000;
  font-size: 10px;
  font-weight: 500;
  padding-left: 4px;
}
.select-option {
  overflow: scroll;
  outline: none;
  color: #6b7280;
  font-size: 14px;
  font-weight: 400;
  padding-right: 150px;
}
.stop-loca {
  border-radius: 0 0 8px 8px;
  border: 1px solid #d1d5db;
  background: var #fff;
  width: 332px;
}
.fram-chose-set-1 {
  width: 322px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 16px;
  gap: 16px;
}
.chose-set {
  color: #6b7280;
  font-size: 14px;
  font-weight: 400;
}
.divider1 {
  width: 322px;
  height: 1px;
  background: #e5e7eb;
}
.fram-chose-set {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 251px;
  gap: 13px;
  margin-top: 16px;
  padding-left: 35.5px;
}
.driver {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.fram-sets {
  display: flex;
  justify-content: center;

  gap: 40px;
  align-items: flex-start;
}
.fram-sets-left {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 7px;
}
.sets-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 10px 10px 10px;
}
.about-seats {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: start;
  gap: 16px;
  margin: 16px 0 16px 0;
}
.text-sets {
  width: 253px;
  color: #000;
  font-size: 16px;
  font-weight: 500;
}
.your-sets {
  color: #f1a501;
  font-size: 16px;
  font-weight: 500;
}
.price {
  color: #000;
}
.text-total {
  width: 275px;
}
.reserve {
  width: 100%;
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: #f1a501;
  box-shadow: 0px 1px 2px 0px rgba(31, 41, 55, 0.08);
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  font-weight: 500;
}
.fram-flage {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.report {
  text-decoration-line: underline;
}

.fram-last-container {
  display: flex;
  justify-content: space-between;
  width: 1520px;
  margin-top: 92px;
  align-items: flex-start;
}
.container-last-left {
  display: flex;
  justify-content: center;
  width: 541px;
  height: 631px;
}
.container-last-right {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  margin-right: 80px;
  width: 600px;
}

.five-star {
  font-size: 24px;
  font-weight: 500;
  margin-left: 4px;
}

.dot1 {
  margin: 0 8px 0 8px;
  width: 4px;
  height: 4px;
}
.seven-view {
  color: #000;
  font-size: 24px;
  font-weight: 500;
}
.first-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
}
.about-user {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}
.title_user {
  color: #000;
  font-size: 16px;
  font-weight: 500;
}
.title_user > span {
  color: #6b7280;
  font-size: 14px;
  font-weight: 400;
}
.commant {
  color: #000;
  font-size: 16px;
  font-weight: 400;
}
.more-commant {
  display: flex;
  gap: 4px;
}
.commant1 {
  width: 500px;
  color: #000;
  font-size: 16px;
  font-weight: 400;
}
.show-more {
  padding-top: 10px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline;
}
.show-all {
  padding: 8px 16px;
  gap: 8px;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  border-radius: 8px;
  border: 1px solid, #000;
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(31, 41, 55, 0.08);
}
footer {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}
.frame-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 95rem;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  padding: 2rem 1.32rem 3.56rem 1.32rem;
}
.footer-container > .footer-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}
.footer-left > .logo {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.logo > .icon {
  width: 6.87rem;
  height: 6.87rem;
}
.logo > .text-logo {
  color: #000;
  font-family: Agbalumo;
  font-size: 4rem;
  font-weight: 400;
}
.footer-left > p {
  color: #666;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6rem;
}
.footer-left > .icon-context {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  width: 8.5rem;
}
.icon-context > .icon {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.5remx;
  color: gray;
  font-size: 1.12rem;
}
.footer-mid {
  display: flex;
  width: 39rem;
  padding-bottom: 2.12rem;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
}
.footer-mid > .items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 11.69rem;
  gap: 1.5rem;
}
.items > .main-items {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}
.items > p {
  color: #454545;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}
.footer-right {
  width: 16.31rem;
  height: 9.6rem;
}
.footer-right > .get-in {
  color: #171717;
  font-family: "Poppins", sans-serif;
  font-size: 1.12rem;
  font-weight: 500;
  line-height: 1.12rem;
  padding-bottom: 1.75rem;
}
.footer-right > form > input {
  padding: 1rem 0 1rem 1rem;
  width: 16.3rem;
  height: 3rem;
  font-family: "Poppins", sans-serif;
  background: rgb(138, 143, 151, 0.1);
  font-size: 14px;
  font-weight: 500;
  line-height: 0.87rem;
}
.footer-right > form > .get-access {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 0.87rem;
  font-family: "Poppins", sans-serif;
  margin-top: 0.87rem;
  width: 16.3rem;
  height: 3rem;
  background: var(--Primary, #f1a501);
  cursor: pointer;
}
.footer-bottom {
  padding: 3rem 1.31rem 0 1.31rem;
}
.line-didver {
  width: 1398px;
  height: 1px;
  opacity: 0.2;
  background: #666;
}
.footer-end {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 50px 0 40px 0;
}
.footer-end > p {
  color: #666;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}
.footer-end > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 235.907px;
  height: 14px;
}
.footer-end > div > p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #666;
}
